@{
    ViewBag.Title = "AddCourse";
}
@using System.Web.Mvc.Html
@model SWCLMS.Models.Tables.Course
<h2>Add Course</h2>

@*<fieldset>
        <div class="row">

            @using (Html.BeginForm("AddCourse", "Student", FormMethod.Post))
            {

                        @Html.HiddenFor(c => c.TeacherID)
                <div class="form-group">
                    <label>Class Name</label>
                    <p>@Html.TextBoxFor(c => c.CourseName)</p>
                </div>
        <div class="form-group">
            <label>Subject</label>
            <p>@Html.DropDownListFor(c => c.SubjectID)</p>
        </div>

        <div class="form-group">
            <label>Start Date</label>
            <p>@Html.TextBoxFor(c=>c.)</p>
        </div>

            }
        </div>

    </fieldset>*@


